<template>
    <div class="window__header" >
          <a href="#" class="window__header--close" :chatWindowOpen="false"  @click="ToggleChat">
            <img src="@/assets/close.svg">
          </a>
        <h3>{{$t('chat.chatTitle')}}</h3>
          <img class="window__header__agent--photo" src="@/assets/agent.jpg">
          <span v-bind:isActive="false" class="window__header__agent--active"></span>
          <h3 class="window__header__agent--name">Support</h3>
          <div class="oval">
            <img src="@/assets/oval.png">
          </div>
          <p class="window__header__status">{{$t('chat.chatStatus')}}</p>
    </div>
</template>

<script>
export default {
  name: 'ChatHeader',
  props: ['chatWindowOpen', 'isActive', 'openChat'],
  methods: {
    ToggleChat() {
      this.$parent.openChat();
    },
  },
};
</script>

