<template>
  <div class="fab" id="fab" @click="fabclicked">
    <a href="#" v-show="!this.chatWindowOpen" >
      <img  src="@/assets/chat.svg">
    </a>
    <a href="#" v-show="this.chatWindowOpen"  >
      <img src="@/assets/close.svg">
    </a>
    <label v-show="showNotifications ()">{{ unreadMessageCount }}</label> 
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'Fab',
    props: ['chatWindowOpen'],
    date() {
      return {
      };
    },
    methods: {
      fabclicked() {
        this.$emit('fabclicked');
      },
      showNotifications() {
        return (!this.chatWindowOpen && this.unreadMessageCount);
      },
      resetNotification() {
        this.resetNotificationAPI();
    },
    },
    computed: {
      ...mapGetters({
      unreadMessageCount: 'getMessageCount',
      isActive: 'isAgentActive',
    }),
     ...mapActions({
      resetNotificationAPI: 'resetNotification',
    }),
    },
  };
</script>

