<style src="@/assets/sass/ChatStyle.scss" lang="scss"></style>
<style src="@/assets/sass/ChatWindow.scss" lang="scss"></style>
<style src="@/assets/sass/breakpoints.scss" lang="scss"></style>
<style src="@/assets/sass/Message.scss" lang="scss"></style>

<template>
  <div>
    <transition name="fade">
      <div class="window" v-show="chatWindowOpen">
        <ChatHeader></ChatHeader>
        <MessageList></MessageList>
        <transition name="fade-emoji">
        <emoji v-show="emojiPickerOpen"></emoji>
        </transition>
        <form class="window__composer" onsubmit="return(false)">
          <Composer ref="composer"></Composer>
          <SendButton  @clicked="sendbtnClicked"></SendButton>
          <EmojiButton @clicked="openEmoji"></EmojiButton>
        </form>
      </div>
    </transition>
    <Fab v-bind:chatWindowOpen="chatWindowOpen" @fabclicked="openChat"></Fab>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters, mapActions } from 'vuex';
import Composer from './ChatComposer';
import SendButton from './SendButton';
import EmojiButton from './EmojiButton';
import Emoji from './EmojiPicker';
import MessageList from './MessageList';
import VueChatScroll from 'vue-chat-scroll';
import ChatHeader from './ChatHeader';
import Fab from './ChatFab.vue';

Vue.use(VueChatScroll);

export default {
  components: {
    MessageList,
    Emoji,
    Composer,
    SendButton,
    EmojiButton,
    ChatHeader,
    Fab,
  },
  data() {
    return {
      chatWindowOpen: false,
      hold: '',
      emojiPickerOpen: false,
    };
  },
  computed: {
    ...mapGetters({
    count: 'getMessageCount',
    isActive: 'isAgentActive',
  }),
  },
  methods: {
    blinkTitle(msg1, msg2, delay, isFocus, canTimeout) {
      if (isFocus == null) {
        isFocus = false;
      }
      if (canTimeout == null) {
        canTimeout = false;
      }
      if (canTimeout) {
        setTimeout(blinkTitleStop, canTimeout);
      }
      document.title = msg1;
      if (!isFocus) {
            this.hold = window.setInterval(function() {
                if (document.title === msg1) {
                    document.title = msg2;
                } else {
                    document.title = msg1;
                }
            }, delay);
        }
      if (isFocus) {
            const onPage = false;
            const testflag = true;
            window.onfocus = function() {
                onPage = true;
            };
            window.onblur = function() {
                onPage = false;
                testflag = false;
            };
            this.hold = window.setInterval(function() {
                if (!onPage) {
                    if (document.title === msg1) {
                        document.title = msg2;
                    } else {
                        document.title = msg1;
                    }
                }
            }, delay);
        }
    },
    blinkTitleStop() {
      clearInterval(this.hold);
      document.title = 'goat-web';

    },
    openEmoji() {
      this.emojiPickerOpen = !this.emojiPickerOpen;
    },
    hideEmoji() {
      this.emojiPickerOpen = false;
    },
    sendbtnClicked() {
      this.$refs.composer.sendMessage();
    },
    resetNotification() {
      this.resetNotificationAPI();
      this.blinkTitleStop();
    },
    // created this method in order for the fab to trigger two events
    openChat() {
      this.chatWindowOpen = !this.chatWindowOpen;
      this.resetNotification();
    },
    ...mapActions({
      resetNotificationAPI: 'resetNotification',
    }),
  },
};
</script>
