<template>
  <textarea
    id="textline"
    v-bind:placeholder="$t('chat.textPlaceholder')"
    v-on:keyup.enter="sendMessage"
    v-chat-scroll
    v-model="message">
  </textarea>
</template>

<script>
import SendButton from './SendButton';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Composer',
  data() {
    return {
        message: '',
    };
  },
  methods: {
  textKeyup(event) {
    this.$emit('typed', message);
  },
  sendMessage() {
      this.sendMessageAPI(this.message);
      this.message = '';
    },
     ...mapActions({
      sendMessageAPI: 'sendMessage',
    }),
  },
};
</script>

