<template>
    <button class="showEmojis" @click="ButtonClicked"></button>
</template>

<script>
export default {
  name: 'EmojiButton',
  methods: {
      ButtonClicked(event) {
      this.$emit('clicked');
    },
    },
};
</script>

