<template>
    <div class="window__emoji">
      <ul>
          <li 
          @click="emitEmoji(emoji.icon)" 
          v-for="emoji in emojis" 
          :key="emoji.icon"> {{ emoji.icon}}</li>
      </ul>
    </div>
</template>

<script>
import { emojiContent } from '@/lib/Emoji';
export default {
  name: 'Emoji',
  data() {
    return {
      emojis: emojiContent,
    };
  },
  methods: {
    emitEmoji(myemoji) {
      this.$parent.message += myemoji;
    },
  },
};
</script>
<style src="@/assets/sass/EmojiPicker.scss" lang="scss">

</style>


