<template>
<ul class="window__body" id="body"  v-chat-scroll>
    <li class="message__placeholder">{{$t('chat.chatPlaceholder')}}</li>
    <Message
      v-for="message in sortedMessages"
      :key="message.id"
      :message="message">
    </Message>
    <div v-show="isTyping" class="typing-indicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </ul>
</template>

<script>
import VueChatScroll from 'vue-chat-scroll';
import Message from './Message';
import { mapGetters } from 'vuex';

export default {
  name: 'MessageList',
  components: {
    Message,
  },
  computed: {
    ...mapGetters({
    sortedMessages: 'messages',
    isTyping: 'isAgentTyping',
  }),
  },
};
</script>

