<template>
  <li class="message" :class=" { 'message--sent' : message.isSent, 'message--recieved' : message.isReceived }" >
    <p class="message__text">{{ message.text }}</p>
    <span class="message__time">{{ message.timestamp | time }}</span>
  </li>
</template>

<script>
  export default {
    name: 'Message',
    props: {
      message: Object,
    },
  };
</script>

