<template>
    <button type="submit" id="send" class="sendBtn" @click="ButtonClicked"></button>
</template>

<script>
export default {
  name: 'SendButton',
  methods: {
    ButtonClicked(event) {
    this.$emit('clicked');
  },
  },
};
</script>

