<template>
  <div id="language-selector">
    <a v-show="currentLang != 'en'" @click="setLanguage('en')" title="Display this website in English">English</a>
    <a v-show="currentLang === 'en'" @click="setLanguage('de')" title="Zeige diese Webseite auf Deutsch an">Deutsch</a>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex';
export default {
  methods: {
    setLanguage(lang) {
      this.setLanguageInStore(lang);
    },
    ...mapActions({
      setLanguageInStore: 'setLanguage',
    }),
  },
  computed:
  {
    ...mapGetters({
    currentLang: 'getLanguage',
    }),
  },
  mounted() {
    const language = this.$route.query.lang;
    if (language) {
      this.setLanguage(language);
    }
  },
};
</script>

<style scoped lang="scss">
#language-selector {
  float: right;
 a 
{
  cursor: pointer;
  &:hover{color: #e60000;}
}
}
</style>
