<style src="@/assets/sass/Message.scss" lang="scss"></style>
<style src="@/assets/sass/ChatWindow.scss" lang="scss"></style>

<template>
  <div class="home">
    <h1>{{ $t("home.message") }}</h1>
  </div>
</template>
<style lang="scss" scoped>
</style>
