<template>
  <div class="login">
    <div class="row">
      <LoginForm></LoginForm>
      <LoginSideBar></LoginSideBar>
    </div>
  </div>
</template>

<script>
import LoginForm from '@/components/Login/LoginForm.vue';
import LoginSideBar from '@/components/Login/LoginSideBar.vue';
export default {
 components: {
   LoginForm,
   LoginSideBar,
 },
};
</script>

<style src="bootstrap/dist/css/bootstrap.css" lang="scss"  scoped ></style>
<style src="@/assets/sass/LoginStyle.scss" lang="scss"  ></style>