<template>
  <div class="col-lg-8 order-lg-2">
    <div class="login-form">
      <img src="@/assets/logo.png">
      <h3>{{$t('login.singInTitle')}} </h3>
      <h6>{{$t('login.singInSubTitle')}}</h6>
      <h6>username: demo password: demo </h6>
      <div class="alert error alert-danger"  v-if="error" role="alert">
      Something is wrong with your login details      </div>
      <!-- <div class="error" v-if="this.$route.query.redirect">
        <p >You need to login first.</p>
      </div> -->
      <form @submit.prevent="login">
        <label>{{$t('login.email')}}</label>
        <input v-model="email" v-bind:placeholder="$t('login.emailPlaceholder')">
        <label>{{$t('login.password')}}</label>
        <input v-model="password" v-bind:placeholder="$t('login.passwordPlaceholder')" type="password">
        <button type="submit" ref="btn">
          <span v-show="!spinner">{{$t('login.signInBtn')}}</span>
          <img class="spinner" v-show="spinner" src="@/assets/spinner.svg">
        </button>
      </form>
    </div>
  </div>
</template>

<script>

import auth from '@/lib/Login';
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'LoginForm',
  data() {
    return {
      email: '',
      password: '',
      error: false,
      spinner: false,
    };
  },
  computed: {
    ...mapGetters({
    isAuthenticated: 'authenticated',
  }),
  },
  methods: {
  login() {
    // API login
      /*const xhttp = new XMLHttpRequest();
      const url = 'here goes the end point url';
      const body = {
      username: this.email,
      password: this.password,
      };
      this.spinner = true;
      xhttp.open('POST', url, true);
      xhttp.setRequestHeader('Content-Type', 'application/json' );
      xhttp.send(JSON.stringify(body));
      const currentThis = this;
      xhttp.onreadystatechange = function() {
         if (this.status === 200) {
          currentThis.setAuthentication(true);
          auth.isLoggedIn(true);
          currentThis.$router.replace(currentThis.$route.query.redirect || '/');
        } else {
          currentThis.error = true;
          currentThis.spinner = false;
        }
      };*/

      // fake login
      if (this.email === 'demo' && this.password === 'demo') {
        this.setAuthentication(true);
        this.spinner = true;
        auth.isLoggedIn(true);
        this.$router.replace(this.$route.query.redirect || '/'); } else {
        this.error = true;
        this.spinner = false;
        }

  },
    ...mapActions({
      setAuthentication : 'setAuthentication',
    }),
  },
};
</script>
<style src="bootstrap/dist/css/bootstrap.css" lang="scss" scoped ></style>
<style src="@/assets/sass/LoginStyle.scss" lang="scss"  scoped></style>

