<template >
 <div class="col-lg-4 video">
    <div class="mask"></div>
    <div class="video__content">
      <h2><img src="@/assets/whitevf.png">Online Only</h2>
      <div class="">
        <p>{{$t('login.marketingP')}} </p>
        <h4>{{$t('login.marketingSubP')}}</h4>
      </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'LoginSideBar',
};
</script>
<style src="bootstrap/dist/css/bootstrap.css" lang="scss" scoped ></style>
<style src="@/assets/sass/LoginStyle.scss" lang="scss"  scoped></style>