<template>
  <div id="app">
    
    <div v-if="isAuthenticated" id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <LanguageSelector></LanguageSelector>
    </div>
    <router-view/>
    <Chat></Chat>
  </div>
</template>
<script lang="ts">
import Chat from './components/Chat/Chat.vue';
import LanguageSelector from './components/Localization/LanguageSelector.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    Chat,
    LanguageSelector,
  },
  computed: {
    ...mapGetters({
    isAuthenticated: 'authenticated',
    }),
  },
};

</script>

<style>
#app {
  text-align: center;
  width: 100%;
  height: 100%;
}

#nav {
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid red;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #e60000;
}
</style>
