$break-small: 668px;
@media screen and (max-width: $break-small) {
    .window {
        width: 100%;
        height: 100%;
        overflow: hidden;
        right: 0;
        bottom: 0;
        z-index: 1000;
        border-radius: 0px !important;
        
        &__header {
            position: relative;
            top: 0;
            width: 100%;
            height: 145px;
            font-size: 12px;
            border-radius: 0;
        &--close img{
            display: inline;
            }
        }
    }
}