body  {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.chat {
  position: fixed;
  font-size: 38px;
  color: black;
  height: 100%;
  border: 3px solid gold;
}
.chatapp {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

.fab {
  a {
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #e64042;
    border-radius: 60px;
    right: 20px;
    bottom: 40px;
    box-shadow: 0 2px 8px 0 rgba(27, 0, 39, 0.35);
    box-shadow: 0 2px 8px 0 var(--very-dark-purple-35);
    img {
      margin: 15px 20px 10px -15px;
      fill: white;
      width: 32px;
      height: 32px;
      font-size: 40px;
      position: absolute;
    }
  }
  label
  {
    position: fixed;
    right: 15px;
    bottom: 80px;
    width: 20px;
    height: 20px;
    font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #85d437;
    border-radius: 20px;
    display: inline-block;
  }
}

.typing-indicator {
  background-color: #E6E7ED;
  will-change: transform;
  border-radius: 18px 18px 18px 6px;  
  padding: 15px;
  display: table;
  clear: both;  
  margin-left: 10px;
  margin-top: 15px;
  animation: 2s bulge infinite ease-out;

  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

//stand alone class
.none
{
  display: none;
}
