.window {
    position: fixed;  
    opacity: 1;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: lightslategray; 
    background-color: white;
    right: 40px;
    bottom: 120px;
    transition: 0.5s;
    width: 360px;
    height: 70%;
    min-height: 260px;
    box-shadow: 2px 8px 16px 0 rgba(27, 0, 39, 0.2);
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
    &__header {
      position: relative;
      top: 0;
      width: 360px;
      height: 145px;
      background-image: linear-gradient(to right, #ee4444, #80163c);
      border-radius: 12px 12px 0px 0px;
      font-size: 12px;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      color: white;
      text-align: center;
      padding-top: 10px;

      &--close img
      {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        display: none;
      }
      &__agent--photo
      {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-top: 10px;
      }
      &__agent--name
      {
        font-size: 14px;
        font-weight: lighter;
        color: #ffffff;
      }
      &__agent--active
      {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 15px;
        margin-top: 12px;
        margin-left: -8px;
        background-color: #85d437;
      }
      &__status
      {
        height: 14px;
        opacity: 0.8;
        font-size: 10px;
        margin-top: 10px;
      }
      .oval
      {
        width: 325px;
        height: 5px;
        object-fit: contain;
        margin: 0 auto;
        }
    }
    &__body {
      position: relative;
      overflow: scroll;
      padding-bottom:220px;
      background-color: rgba(250, 250, 250, 0.9);
      height: 100%;
      border-radius: 0px 0px 12px 12px;
    }
    &__composer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 60px;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 300px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(0, 0, 0, 0.02);
        textarea {
          width: 80%;
          height: 100%;
          resize: none;
          border: none;
          outline: none;
          opacity: 1;
          font-family: HelveticaNeue;
          font-size: 17px;
          font-weight: 300;
          text-align: left;
          color: #1b0027;
          padding: 20px 20px 5px;
          left: 0px;
          position: absolute;
        }
        button{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 20px;
          outline: none;
          cursor: pointer;
          border: none;
        }
        .sendBtn{
          background: url(../send.svg);
          right: 20px;
        }
        .showEmojis{
          background: url(../emoji.svg);
          right: 60px;
          }
    }
  }
.fade-enter-active{
  transition: all;
  animation: showUP 0.3s ease-in ;
}
.fade-leave-active{
  opacity: 0;
  transition: all;  
 animation: showUP 0.3s ease-in  reverse;
}
    @keyframes showUP {
      0% {
          opacity: 0;
          height: 0px;
          }
      100% {
        height: 70%;
        opacity: 1;
      }
    }
.fade-emoji-enter-active{
  transition: all;
  animation: showUpEmoji 0.3s ease-in ;
}
.fade-emoji-leave-active{
  opacity: 0;
  transition: all;  
  animation: showUpEmoji 0.3s ease-in  reverse;
}
@keyframes showUpEmoji {
  0% {
      opacity: 0;
      }
  100% {
    opacity: 1;
  }
}