.window__emoji {
  ul {
    width: 250px;
    padding: 10px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    background: white;
    position: absolute;
    bottom: 73px;
    right: 15px;
    z-index: 9999;
    user-select: none;
    border-radius: 5px;
    @media screen and (max-width: 668px) {
      bottom: 80px;
      right: 35px;
    }
    li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      width: 25px;
      padding-left: 2px;
    }:hover {
      background-color: rgb(222, 222, 222);
    }
  }::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    bottom: -10px;
    right: 45px;
    box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.75);
    @media screen and (max-width: 668px) {
      bottom: -10px;
      right: 25px;
    }
  }
}