@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.login {
    width: 100%  !important;
    bottom: 0px;
    z-index: -1;
    overflow-x: hidden;
}
  .login-form {
    margin: 0 auto;
    padding-top: 200px;
    width: 300px;
    height: 100vh;
    text-align: left;
    font-family: 'Open Sans', sans-serif;    
    @media screen and (max-height: 666px) {
      padding-top: 100px;
    
    }
    .error {
      color: red;
      border: solid red 1px;
      padding: 10px;
      border-radius: 10px;
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
    .spinner {
      height: 40px;
    }
    img {
      width: 150px;
      margin-bottom: 20px;
    }
    h6 {
      color: rgba(0, 0, 0,0.4);
      font-size: 12px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 18px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    input, label {
      display: block;
    }
    label {
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      color: #000;
    }
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0,0.4);
      width: 300px;
    }
    button {
      width: 187px;
      height: 50px;
      border-radius: 25px;
      background-color: #f71d1d;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      border: none;
      display: block;
      margin: 80px auto;
      outline: none;
    }
    button:active {
      border-bottom: 4px solid black;
    }
  } 
  .video {
    padding: 0px;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    background: url(../bg.gif);
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    &__content {
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        position: absolute;
        display: block;
        h2 {
          text-align: left;
          padding-left: 70px;
          img {
            margin-top: -4px;
            margin-right: 10px; 
          }
        }
        p {
          font-size: 29px;
          margin: 300px 20px 0px 60px;
          text-align: left;
        }
        h4 {
          font-size: 18px;
          margin: 40px 60px;
          text-align: left;
          
        }
    }
    .mask
    {
      background-image: linear-gradient(to bottom, #1d104a, rgba(29, 16, 74, 0.4));
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }