.message
{
  font-size: 15px;
  margin-left: 10px;
  text-align: left;
  clear: both;
  word-wrap: break-word;
  &__placeholder
  {
    padding: 30px;
    font-size: 14px;
    font-weight: lighter;
  }
  &__text
  {
    margin: 10px 0px 0px 0px;
    max-width: 240px;
    padding: 10px;
  }
  &__time
  {
    margin-top: 8px;
    display: block;
    opacity: 0.4;
    font-size: 10px;
    color: #1b0027;
  }
  &--recieved
  {
    .message__text{
      border-radius: 18px 18px 18px 6px;
      color: black;
      background-color: #f2f2f2;
      display: inline-block;
      clear: both;
    }
  }
  &--sent
  {
  position: relative;
  margin-right: 30px;
  .message__text{
    border-radius: 18px 18px 6px 18px;
    opacity: 0.9;
    background-color: white;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);   
    font-family: HelveticaNeue;
    color: #1b0027;
    float: right;
    clear: both;
    display: block;
  }
  .message__time
  {
    float: right;
    clear: both;
  }
  }
  &--status
  {
    position: relative;  
    text-align: center;
    float: left;
    margin-left: 25%;
  }
}
